*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#000000;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:700px;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
}

h1{
    color:#1565c0;
    margin-bottom:15px;
}

h2{
    margin-bottom:20px;
}

p{
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#1565c0;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.2s;
}

button:hover{
    opacity:0.9;
}

.option{
    margin-bottom:10px;
}

#quiz{
    display:none;
}

#result{
    display:none;
    text-align:center;
}